@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
}

.nav-list-item {
  cursor: pointer;
}
.nav-list-item:hover {
  color: #e50914;
}

body {
  background-color: #181818;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-list li {
  cursor: pointer;
}
